@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #050e2d;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #1eeeef;
    border-radius: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 1000;
}
header.sticky{
    background: #1b2141;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
header ul li a:hover{
    background: #1eeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1eeeef;
}
header .nav .sign a{
    display: none;
}
header .action .search-box{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}
header .action .search-box i{
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}
header .action .search-box input{
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}
header .sign a{
    border: 1px solid #1eeeef;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
header .sign a:hover{
    background: #1eeeef;
    color: #050e2d;
}
header .toggle-menu{
    display: none;
}


/* Home Banner =============== */

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg .content{
    width: 50%;
    height: 100%;
}
.banner .bg .content h2{
    font-size: 4em;
    color: #fff;
    letter-spacing: 1px;
}
.banner .bg .content p{
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    margin: 20px 0;
}
.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1eeeef;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}
.banner .bg .content a:hover{
    background: #1eeeef;
    color: #050e2d;
    border: none;
    box-shadow: 0 0 10px #1eeeef;
}
.banner img{
    width: 250px;
}

/* About =================== */

.about{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .contentBx{
    width: 50%;
    margin: 20px;
}
.about .contentBx h1{
    font-size: 3em;
    font-weight: 700px;
    color: #fff;
}
.about .contentBx p{
    /* max-width: 600px; */
    /* text-align: justify; */
    color: #dbd9d9;
    margin: 20px 0;
}
.about .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1eeeef;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}
.about .contentBx a:hover{
    background: #1eeeef;
    color: #050e2d;
    border: none;
    box-shadow: 0 0 10px #1eeeef;
}
.about img{
    width: 300px;
}


/* Games ==================== */

.games{
    padding: 0 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    flex-direction: column;
}
.games h2{
    color: #fff;
    margin: 10px 0;
}
.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.games ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    margin: 5px;
}
.games ul li.active{
    background: #1eeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1eeeef;
}
.games .cardBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px;
}
.games .cardBx .card{
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1b2141;
    overflow: hidden;
}
.games .cardBx .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.games .cardBx .card .content{
    padding: 10px;
}
.games .cardBx .card .content h1{
    color: #fff;
    margin: 15px 0;
}
.games .cardBx .card .content .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #35407e;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.games .cardBx .card .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #1eeeef;
    box-shadow: 0 0 10px #1eeeef;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.games .cardBx .card .info{
    border-top: 2px solid #35407e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardBx .card .info p{
    font-size: 1em;
    color: #fff;
}
.games .cardBx .card .info p span{
    color: #1eeeef;
}
.games .cardBx .card .info a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1eeeef;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}
.games .cardBx .card a:hover{
    background: #1eeeef;
    color: #050e2d;
    border: none;
    box-shadow: 0 0 10px #1eeeef;
}


/*Leader Board  ===============*/

.leaderBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
    color: #fff;
}
.leaderBoard .heading{
    display: flex;
}


/* Contact======================= */

.contact{
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    height: 80%;
    width: 40%;
    object-fit: cover;
    border-radius: 10px;
}
.contact .form{
    width: 50%;
    margin: 30px;
}
.contact .form h1{
    color: #fff;
}
.contact .form .inputBx{
    margin: 20px;
    color: #fff;
}
.contact .form .inputBx input,
.contact .form .inputBx textarea{
    border: none;
    outline: none;
    width: 100%;
    color: #fff;
    padding: 10px;
    background: #1b2141;
    min-height: 15px;
    font-size: 1.1em;
    border-radius: 5px;
    margin: 10px 0;
}
.contact .form .inputBx textarea{
    height: 150px;
}
.contact .form .inputBx input[type='submit']{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;
    background: transparent;
    border: 1px solid #1eeeef;
    text-decoration: none;
    font-weight: 700;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
}
.contact .form .inputBx input[type='submit']:hover{
    background: #1eeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1eeeef;
}


/* Footer ==================== */

footer{
    padding: 10px 100px;
}
footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .info .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
footer .info p{
    color: #dbd9d9;
}
footer .info ul{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .info ul li{
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1eeeef;
}
footer .info ul li:hover{
    background: #1eeeef;
    border: none;
    box-shadow: 0 0  10px #1eeeef;
}
footer .info ul li a i{
    color: #fff;
    font-size: 1.5em;
}
footer .info ul li:hover a i{
    color: #050e2d;
}

@media(max-width: 1190px){
    header{
        padding: 0 40px;
    }
}

@media(max-width: 1050px){
    header{
        padding: 10px 40px;
    }
    header .nav{
        padding: 200px 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        background: #1b2141;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        z-index: 1000;
        display: none;
    }
    header .sign a{
        display: none;
    }
    header .nav li{
        margin: 20px 0;
    }
    header .nav a{
        font-size: 24px;
        margin: 10px 0;
    }
    header .nav .sign a{
        display: flex;
    }
    header .toggle-menu{
        display: flex;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1001;
    }
    header .toggle-menu i{
        color: #fff;
        font-size: 1.5em;
    }

    .banner .bg img{
        position: absolute;
    }
    .banner .bg .content{
        width: 100%;
        height: 100%;
        background: rgb(27 33 65 / 50%);
        padding: 20px;
        z-index: 1;
        border-radius: 10px;
        text-align: center;
    }

    .about{
        flex-direction: column;
        text-align: center;
    }
    .about .contentBx{
        width: 100%;
        text-align: center;
    }

    .games{
        padding: 0;
    }
    .games .cardBx{
        padding: 0;
    }

    .contact{
        flex-direction: column;
    }
    .contact img{
        height: 50%;
        width: 50%;
    }
    .contact .form{
        height: 100%;
        width: 100%;
        padding: 10px;
        margin: 10px;
    }

    footer .info{
        flex-direction: column;
    }
    footer .info p{
        margin: 10px 0;
        font-size: 12px;
        text-align: center;
    }
}

@media(max-width: 700px){
    header .action .search-box{
        display: none;
    }
}

@media(max-width: 600px){
    header{
        padding: 10px 20px;
    }
    header .logo{
        font-size: 1.5em;
    }
    footer .logo{
        font-size: 1.5em;
    }

    .banner{
        padding: 0 50px;
    }
    .about{
        padding: 0 50px;
    }

    .banner .bg .content h2{
        font-size: 2.5em;
    }
    .about .contentBx h1{
        font-size: 2.5em;
    }
    .games .cardBx .card .content h1{
        font-size: 2rem;
    }
    .banner .bg .content p{
        font-size: 0.8em;
    }
    .about .contentBx p{
        font-size: 0.8em;
    }
    .banner .bg .content a{
        padding: 7px 14px;
    }
    .contact{
        padding: 20px 30px;
    }
    .contact h1{
        text-align: center;
    }
    .logo{
        font-size: 1.2em;
    }
}

@media(max-width: 350px){

    .banner{
        padding: 0 15px;
    }
    .about{
        padding: 0 15px;
    }

    .banner .bg .content h2{
        font-size: 2em;
    }
    .about .contentBx h1{
        font-size: 2em;
    }
    .banner .bg .content p{
        font-size: 0.7em;
    }
    .about .contentBx p{
        font-size: 0.7em;
    }
    .banner .bg .content a{
        padding: 7px 14px;
    }


    .games ul li{
        padding: 7px 14px;
        margin: 3px;
    }
    .games .cardBx .card{
        margin: 20px 20px;
    }
    .games .cardBx .card .content h1{
        font-size: 1.7rem;
    }

    .contact{
        padding: 10px 5px;
    }
    .contact .form{
        width: 100%;
    }

    .contact .form .inputBx input[type='submit']{
        text-align: center;
        padding: 7px 14px;
        font-weight: 700;
        width: 100px;
    }

    header .logo{
        font-size: 1em;
    }
    footer .logo{
        font-size: 1.5em;
    }

    footer .info ul li{
        height: 35px;
        width: 35px;
    }
}